@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: black;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    margin: 0;
}

header img {
    margin-right: 20px;
    height: 30px;
}

.cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-icon i {
    font-size: 24px;
    margin-right: 10px;
}

.cart-count {
    font-size: 18px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 12vh 20px;
}

.product-card {
    width: 300px;
    height: 80vh;
    margin: 10px;
    text-align: center;
    border: 1px solid #5A5A5A;
    border-radius: 5%;
}

.product-card img {
    width: 100%;
    height: 75%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

.product-card h3 {
    margin-top: 10px;
}

.product-card p {
    font-weight: bold;
    margin-top: 10px;
}

.product-card button {
    width: 20%;
    height: 30px;
    margin-top: 10px;
    background-color: #5A5A5A;
    border: none;
    cursor: pointer;
}

.quantity-control {
    display: flex;
    justify-content: center;
}

.quantity-control p {
    width: 30%;
    background-color: #5A5A5A;
    line-height: 30px;
}

.cart-preview {
    position: fixed;
    top: 75px;
    right: 0px;
    width: 10%;
    height: 100vh;
    background-color: #5A5A5A;
    color: white;
    padding: 1rem;
    box-shadow: 2px 2px 5px #5A5A5A;
    display: none;
}

.cart-preview>h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    text-align: center;
    background-color: #5A5A5A;
    color: white;
}

.cart-preview-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #5A5A5A;
    color: white;
    justify-content: center;
}

.cart-preview-list li {
    background-color: inherit;
}

.cart-preview-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #5A5A5A;
    color: white;
}

.cart-preview-item img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.cart-preview-item h3, .cart-preview-item p {
    margin: 0;
    font-size: 1rem;
    background-color: #5A5A5A;
    color: white;
}

.cart-preview-item p, #total-price {
    color: yellow;
}

hr {
    width: 80%;
    margin-top: 5px
}

@media only screen and (max-width: 850px) {
    .cart-preview {
        width: 12%;
    }

    .cart-preview-item img {
        width: 3rem;
        height: 3rem;
    }

    .cart-preview>h2 {
        font-size: 1rem;
        text-overflow: ellipsis;
        text-align: left;
    }

    .cart-preview-item h3, .cart-preview-item p {
        font-size: 0.6em;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 450px) {
    .cart-preview {
        width: 15%;
        padding: 0.8rem;
    }

    .cart-preview-item img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .cart-preview>h2 {
        font-size: 0.6rem;
        text-overflow: ellipsis;
    }

    .cart-preview-item h3, .cart-preview-item p {
        font-size: 0.5rem;
        text-overflow: ellipsis;
    }
}
