.counterContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.counterHeading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.countValue {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Martian Mono', monospace;
}

.increment, .decrement {
    padding: 0.3rem 1.3rem;
    margin: 2rem;
    font-size: 2.5rem;
    border-radius: 25%;
    border: none;
    color: white
}

.increment {
    background-color: green;
}

.decrement {
    background-color: red;
}


@media only screen and (max-width: 400px) {

    .counterHeading, .countValue {
        font-size: 2rem;
    }
}
